body {
    background-color: #EEEEEE;
}
#board-container {
    background-color: #C0C0C0;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
    padding: 7px;
    margin-top: 10px;
    display: inline-block;
}
#board {
    display: inline-block;
    border-top: 3px solid #808080;
    border-left: 3px solid #808080;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}
.cell {
    background-color: #C0C0C0;
    float: left;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite.gif);
}
.flag {
    background-position: -16px -39px;
}
.blank {
    background-position: 0 -23px;
}
.one {
    background-position: -16px -23px;
}
.two {
    background-position: -32px -23px;
}
.three {
    background-position: -48px -23px;
}
.four {
    background-position: -64px -23px;
}
.five {
    background-position: -80px -23px;
}
.six {
    background-position: -96px -23px;
}
.seven {
    background-position: -112px -23px;
}
.eight {
    background-position: -128px -23px;
}
.unselected {
    background-position: 0 -39px;
}
.mineflagged {
    background-position: -16px -39px;
}
.minedeath {
    background-position: -32px -39px;
}
.minemisflagged {
    background-position: -48px -39px;
}
.mine {
    background-position: -64px -39px;
}
.cell-row {
    clear: both;
}