@model Minesweeper.Models.Board
@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/board.js"></script>
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/board.css" />
}
<div id="difficulty-container">
    <button class="btn btn-default difficultyButton" data-difficulty="easy">Easy</button>
    <button class="btn btn-default difficultyButton" data-difficulty="medium">Medium</button>
    <button class="btn btn-default difficultyButton" data-difficulty="hard">Hard</button>
</div>
<div id="board-container">
    <div id="board-header">
        <div id="face" class="facesmile"></div>
        <div id="mine-container">
            <div class="time time0"></div>
            <div class="time time0"></div>
            <div class="time time0"></div>
        </div>
        <div id="time-container">
            <div id="hundreds" class="time time0"></div>
            <div id="tens" class="time time0"></div>
            <div id="ones" class="time time0"></div>
        </div>
    </div>
    <div id="board"></div>
</div>
