@model Minesweeper.Models.Board
@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/board.js"></script>
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/board.css" />
}
<div id="board-container">
    <div id="board"></div>
</div>